Language: Cpp
Standard: c++20
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Attach

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignOperands: true
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty

ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeColon

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2
SpaceAfterTemplateKeyword: true

SortIncludes: CaseSensitive
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2

IndentCaseLabels: true
MaxEmptyLinesToKeep: 1